<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <h1>Hello Vue!!</h1>
        <h1>I am {{userName}}</h1>
        <p v-if="userName.length > 9">userName length is too long!!</p>
        <input type="text" v-model="userName"/>
        <p>{{frameworks}}</p>
        <ul>
            <li v-for="framework in frameworks">
                {{framework}}
            </li> 
        </ul>
        <ul>
            <!-- plan1 -->
            <!-- {{post}} -->
            <!-- plan2 -->
            <!-- 인자값 추출 loop -->
            <!-- (item, index) in items -->
            <li v-for="(post, index) in posts">
                {{index + 1}} .
                {{ post.title }}
            </li>        
        </ul>    
        <!-- plan1 -->
        <!-- <p>게시글의 총 갯수는 {{posts.length}}개 입니다.</p>     -->
        <!-- plan2 -->
        <!--v-bind:와 :는 같다. -->
        <p :class="{many: completedPosts > 3 }">게시글의 총 갯수는 {{completedPosts}}개 입니다.</p>    
        <!-- v-con:click === @click는 같다. -->
        <button v-on:click="addItem">addItem</button>
        <button @click="popItem">popItem</button>
        <button @click="fetchPosts">fetchPosts</button>
    </div>
    <script>
        const app = new Vue({
            el: "#app", // 어떤 요소 안에 화면을 그릴 지 지정한다.
            data: {     // 화면 안에 내용을 그릴 내용, 데이터에는 String, Int, boolean 등 다양하게 있다.
                userName : "Kong",
                frameworks : ["React", "Vue", "Angular"],
                views : ["thymeleaf", "jsp"],
                posts : []
            },
            computed : {
                completedPosts() {
                    return this.posts.length;
                }
            },
            methods: {  
                // 객체 안에서 사용할 함수
                // 또, data 안의 객체를 불러오려면 this.object를 하면된다.
                addItem() {
                    this.frameworks.push(this.userName);
                    // this.views.forEach(view => {
                    //     this.frameworks.push(view);
                    // });
                },
                popItem() {
                    this.frameworks.pop();
                },
                fetchPosts () {
                    // 플레이스 홀더에서 다양한 가데이터를 가져올 수 있다.
                    // https://jsonplaceholder.typicode.com/posts?_start=1&_end=20
                    fetch("https://jsonplaceholder.typicode.com/posts?_start=0&_end=5")
                    .then(res => res.json())
                    .then(data => {
                        // plan 1
                        // data.forEach(item => {
                        //     this.posts.push(item.title);
                        // });
                        // plan2
                        this.posts = data;
                    });
                }
            }
        });
    </script>
    <style>
        .many {
            color: red;
        }
    </style>
</body>
</html>